@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;600;700&display=swap');

:root {
    --dark-brown: #E8CEA2;
    --lightest-yellow: #FFFAD7;
    --darkest-navy: #293039;
    --dark-coral: #A85338;
    --medium-coral: #E08264;
    --lightest-coral: #F6A58B;
    --white: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--lightest-yellow);
    color: var(--medium-coral);
}

body {
    background-color: var(--darkest-navy);
    color: var(--lightest-yellow);
}

a {
    text-decoration: none;
}
button, a, .nav__profile-img {
    cursor: pointer;
}

i {
    display: flex;
    font-size: 18px;
}


li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.row_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    padding: 56px;

}


img {
    width: 100%;
}
figure {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, i, a, textarea, input {
    color: var(--lightest-yellow);
    letter-spacing: 1px;
}
input[type="text"] {
    letter-spacing: 1px;
    font-size: 18px;
    width: 100%;
}
input {
    border: none;
    font-size: 14px;
}

input:focus {
    outline: none;
}

input::placeholder {
color: var(--white);
}

button {
    background: none;
    border: none;
}

/*

NAVIGATION

*/
nav {
    height: 80px;
    padding: 12px 24px;
}

.nav__container {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__left, .nav__links, .nav__right, .nav__accounts{
    display: flex;
    align-items: center;
}


.nav__logo {
    width: 100px;
    margin-right: 8px;
}


.nav__link--list {
    margin: 0 8px;
}

.nav__link {
    font-size: 14px;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: var(--medium-coral);
    font-weight: 700;
}

.nav__accounts {
    margin-left: 16px; 
}

.nav__profile-img {
    width: 42px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 8px;
}

/*

HEADER

*/

/* #landing {
    min-height: 80vh;
} */

.header__bg img {
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%; */


    object-fit: cover;
}
 .header__icon {
    width:  150px;
 }

 header {
    width: 50%;
    padding-left: 34px;
    margin-top: -15%;

 }
 .header__top10 {
    width: 50px;
    margin-right: 12px;
 }

 .header__title {
    font-size: 72px;
 }

 .header__part1 {
    display: flex;
    align-items: center;
    margin: 16px 0;
 }

 .header__part2--para {
font-size: 18px;
margin-bottom: 16px;
 }

 .header__part3 {
    display: flex;
    align-items: center;
 }

 .values__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
 }


.btn-coral {
    color: var(--lightest-yellow);
    background: var(--medium-coral);
    padding: 8px 18px;
    font-size: 18px;
    display: flex;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-coral:hover, .btn-yellow:hover {
    opacity: 0.8;
}
.play {
    margin-right: 16px;
}

.header__btn {
margin-left: 4px;
}

.fi-rr-interrogation, .more_info {
    color: var(--darkest-navy);
} 

.btn-yellow {
    display: flex;
    align-items: center;
    background: rgba(255, 250, 215, 0.6);
    padding: 8px 18px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 300ms ease;
}

/*

GENRES

*/

#genres {
    margin-top: 5%;
}

.genre__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.genre__button {
    display: flex;
    font-size: 18px;
    align-items: center;
    border: 1px solid var(--lightest-yellow);
    padding: 8px 18px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 300ms ease;

}

.genre__button--imgs{
    width: 30px;
    margin-right: 12px;
}

.genre__button:hover {
    background: var(--medium-coral);
    border-color: var(--medium-coral);
}

.genre__button:active {
    transform: scale(0.95);
}



/*SEARCH BAR */


.nav__search-bar {
    border: 2px solid var(--lightest-yellow);
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    margin-top: 32px;
    max-width: 1200px;
    width: 100%;

}

.nav__search-bar:hover {
border-color: var(--lightest-coral);
}

.nav__searchbtn, .nav__notifbtn {
    transition: all 300ms ease;
}

.nav__searchbtn:active, .nav__notifbtn:active {
    transform: scale(0.8);
}

.nav__search {
    background-color: transparent;
}


/*
 
POPULAR SHOWS

*/

.popular__show--titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;

}

.popular__show--buttons {
    display: flex;
    align-items: center;

}

.popular__show--posters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular__show--poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 20%;
    margin:24px 8px;
}


.poster__img {
    border-radius: 20px;
    margin-bottom: 12px;
    transition: all 300ms ease;
}

.poster__img:hover {
    opacity: 0.8;
}

.poster__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 

SWIPER
*/

.swiper {
    margin-bottom: 24px;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.swiper-custom-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    padding: 0 24px;
    justify-content: space-between;
    display: flex;
    opacity: 0.3;
    transition: all 300ms ease;
}

.swiper-custom-nav:hover {
    opacity: 1;
}


.nav-next, .nav-prev{
height: 50px;
width: 50px;
/* background:var(--lightest-yellow); */
opacity: 1;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

}

.nav-next i, .nav-prev i {
    font-size: 40px;
}


.swiper-slide figure {
    margin: 0;
    position: relative;
}

.swiper-pagination-bullet-active {
background-color: var(--lightest-yellow) !important;
}


/*

Footer

*/

.footer__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width:500px;
    margin: 32px;
    align-items: center;

}

.footer__icon--i i:hover {
    color: var(--medium-coral);
}
.footer__icon--i:active {
    transform: scale(1.5);
}

.footer__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    align-items: center;
}

.footer__link a, .footer__icon--i i {
    transition: all 300ms ease;
}

.footer__link a:hover {
    color: var(--medium-coral);
    font-weight: 700;
}

/*

Burger Menu

*/
.btn_menu, .btn_menu--close {
display: none;
}

.small__nav {
   display: none;
}


.small__nav {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: var(--white); */
    background-color: rgba(41, 48, 57, 0.7);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    max-height: 50vh;
    border: 1px solid var(--light-gray);
    margin: 5px 5px;
    border-radius: 20px;
}
.small__nav .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.small__nav .nav__link {
    margin-bottom: 12px;
}
.btn_menu--close {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 8px;
    font-weight: 700;
}



@media only screen and (max-width: 2400px) {
    header {
        margin-top: -25%;
    }
    #genres {
        margin-top: 10%;
    }
}


@media only screen and (max-width: 1500px) {
    header {
        margin-top: -35%;
    }
  
}

@media only screen and (max-width: 1300px) {
    .header__title {
        font-size: 42px;
    }
 
    #genres {
        margin-top: 10%;
    }
}

/* Small Phones, Ipads, Large Smartphones */

@media only screen and (max-width: 1200px) {

    .header__title {
    font-size: 42px;
}

.header__part1 {
 margin: 0;
}

p, .header__part2--para {
    font-size: 12px;
}

.footer__icons {
    margin: 12px;
}

.footer__links {
    flex-direction: column;
}

}


@media only screen and (max-width: 950px) {
    h4 {
        font-size: 18px;
    }
    .header__title {
        font-size: 42px;
    }
 
    #genres {
        margin-top: 0;
    }

    .genre__buttons {
        flex-wrap: nowrap;
    }
    .genre__button--imgs {
        width: 15px;
        margin-right: 6;
    }
  
 
    .footer__link {
        font-size: 12px;
    }
}

@media only screen and (max-width: 820px) {
header {
margin-top: -50%;
}

#genres {
    margin-top: 15%;

}
.genre__buttons {
flex-wrap: wrap;
justify-content: space-evenly;
}

.genre__button {
    margin: 8px 12px;
}

}

@media only screen and (max-width: 720px) {
    header {
        margin-top: 0;
        width: 100%;
    }
    .container {
        padding: 24px;
    }
    #genres {
        margin-top: 0%;
    }

    .nav__links--hidden {
        display: none;
    }
    .btn_menu {
        display: block;
        margin-right: 12px;
    }

    .btn_menu--close {
        display: block;
    }

    .menu--open .small__nav {
        visibility: visible;
        opacity:1;
    }

    .nav__link {
        font-size: 36px;
    }

}



@media only screen and (max-width: 690px) {
  
    .header__title {
        font-size: 24px;
    }
    .header__sub-title, h4 {
        font-size: 16px;
    }
    .header__top10 {
        width: 35px;
    }
    .header__part1 {
        margin: 12px 0;
    }
    .footer__icons {
       max-width: 300px;
    }
 
}